* {
    box-sizing: border-box;
  }
  
  .width-wrap {
    max-width: 960px;
    margin: 0 auto;
    padding: 0 2em 2em;
    border: 1px solid rgba(0, 0, 0, 0.3);
    border-top: none;
    margin-bottom: 3em;
}

    footer hr {
        width: 50vw;
        min-width: 300px;
        max-width: 890px;
        margin: 3em auto 2em;
        border: none;
        border-bottom: 3px dotted #444;
    }
    dt::after {
        content: ":"; /* Adds a colon after each term */
      }
      